# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
NEXT_PUBLIC_APP_NAME=PetShop Jogja Finder

# Map Configuration
NEXT_PUBLIC_DEFAULT_LAT=-7.7833
NEXT_PUBLIC_DEFAULT_LNG=110.3592

# Pagination
NEXT_PUBLIC_DEFAULT_PAGE_SIZE=10
